.expense-section {
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }
  
  .expense-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .expenses-box {
    display: flex;
    flex-direction: column;
  }

  
  .filter-icon {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    color: #333;
    margin-left: auto;
  }
  
  .filter-icon:hover {
    color: #77BFA3;
  }
  
  .expense-item {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }

  .empty-message {
    text-align: center;
    color: #000000;
    font-size: 1rem;
    margin-top: 10px;
}